<div class="container">
    <div class="row">
        <div class="col-md-6">

            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h5>Please enter email & password !!</h5>
                </div>

            </div>

                <form [formGroup]="loginForm" (ngSubmit)="login()" class="axel">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <a style="color: rgb(255, 255, 255); margin-top: 7px; font-size: 10px;" routerLink="/singup">New user ? Click to signup !</a>
                  </form>         

        </div>
    </div>
</div>