<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing des fonctionnalités de création (CRUD)</title>
</head>
<body>

    <button>oh Snaps</button>
    
    <div class="entete">

        <h5 >Listing des fonctionnalités de création (CRUD)</h5>

        

        <button routerLink="/dash" type="button">
            Home
        </button>
    
      </div>
        
    
        <div class="ligne">
            <div class="kol-1">
                <ul>
                    <li>Lundi</li>
                    <li>Mardi</li>
                    <li>Mercredi</li>
                    <li>Jeudi</li>
                    <li>Vendredi</li>
                </ul>
            </div>
    
            <div class="kol-2"> 
                <h1>THE KING</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptatum dolorum numquam itaque aperiam libero animi harum dolorem, error non, magni ab nulla nisi magnam at perferendis est adipisci molestiae?</p>
            </div>
    
        </div>
    
            <div class="kol-3">
    
                <h3>What?</h3>
                <p>Chaina is a city on the island od Crete</p>
    
                <h3>Where?</h3>
                <p> Crete is Hreek island in the Mediterranean Sea.</p>
    
                <h3>How?</h3>
               <p>You can reach Chania airport from all over Europe</p> 
    
            </div>
    
    
            <footer class="pied">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere deserunt quo quos tempore asperiores error quisquam saepe. Delectus accusamus qui odio unde inventore officia, assumenda magnam quidem vel, eligendi hic</p>
            </footer>    
</body>
</html>

